<style>
    html {
        height: 100%;
        width: 100%;
        font-size: 62.5%;
    }

    body {
        margin: 0px;
        height: 100%;
        background: #141414 !important;
    }

    .app-container {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/img/background.jpg");
        display: flex;
        flex: 1 1 auto;
        min-height: 100%;
        height: auto;
        font-family: 'Lato', sans-serif;
        {{!-- font-family: 'Fjalla One', sans-serif; --}}
    }

    .mheader.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        {{!-- z-index: 2; --}}
    }

    .signup-header {
        height: 70px;
        width: 100%;
        background-color: #212121;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .app-logo {
        height: 100%;
        display: inline-block;
        margin-left: 2%;
        font-size: 33px;
        color: #fff;
        padding-top: 5px;
    }

    .app-logo a {
        color: #04f385;
        /*opacity: 0.8; */
        padding-top: 24px;
        font-family: 'Fjalla One', sans-serif;
    }

    .app-logo a:hover {
        color: #09b767;
        text-decoration: none;
    }

    .subtext-header{
        font-size: 0.8rem;
        margin-top: -2px;
    }

    .sign-in-container {
        float: right;
        margin: 18px 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .sign-in-btn {
        padding: 11px;
        font-size: 16px;
        font-weight: 400;
    }

    .content-section {
        box-sizing: border-box;
        padding-top: 70px;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }


    .loader {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: relative;
        margin: 0 auto;
    }

    #loader-4 span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #7c7e7f;
        margin: 15px 5px;
        opacity: 0;
    }

    #loader-4 span:nth-child(1) {
        animation: opacitychange 1s ease-in-out infinite;
    }

    #loader-4 span:nth-child(2) {
        animation: opacitychange 1s ease-in-out 0.33s infinite;
    }

    #loader-4 span:nth-child(3) {
        animation: opacitychange 1s ease-in-out 0.66s infinite;
    }

    @keyframes opacitychange {
        0%,
        100% {
            opacity: 0;
        }

        60% {
            opacity: 1;
        }
    }

    .user-signout{
        {{!-- position: fixed;
        right: 30px;
        top: 22px; --}}
        cursor: pointer;
        padding-top: 10px;
        margin-left: 15px;
    }
    .user-signout i{
        font-size: 1.2em;
        color: #ccc;
    }

    .user-details{
        {{!-- position: fixed;
        right: 60px;
        top: 20px; --}}
        padding-top: 8px;
    }

    .user-details .username{
        display: inline-block;
        padding: 0px 10px 0px 2px;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 200;
    }

    .slider-container img {
        width: 100%;
        height: 100%;
        webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .browser-card-img:hover {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/sematic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/youtube-popup/grt-youtube-popup.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" type="text/css" href="/css/font-awesome/font-awesome-v4.7.css"> --}}
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/jquery.migrate.min.js"></script>
    <script src="/slick-1.8.1/slick/slick.min.js"></script>
    <script src="/js/sematic-ui/semantic.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/youtube-popup/grt-youtube-popup.js"></script>


</head>
<body>

    <div class="app-container">

        <div class="mheader signup-header" id="pinning-header">
            <div class="app-logo">
                <a href="/" class="title"> {{ title }}</a>
                <div class="subtext-header">
                    <a href="https://www.themoviedb.org/" target="_blank" >Powered by TMDB</a>
                </div>
            </div>
            
            <div class="sign-in-container">
                {{#if user}}
                    <div class="search" style="margin-right: 25px;">
                        <div class="ui icon movieSearch input">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <div class="user-details">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="user-details username">{{user.name}}</div>
                    </div>
                    <a href="/logout"> <div class="user-signout"><i class="fas fa-sign-out-alt"></i></div> </a>
                {{else}}
                    <a href="/login" class="authLink sign-in">
                        <button class="ui inverted button sign-in-btn">
                            Sign In
                        </button>
                    </a>
                {{/if}}     
            </div>
            
        </div>

        <div class="content-section">
            {{{ body }}}
        </div>
        
    </div>

   
    
   
</body>
</html>


<script>
    
    window.loadingDots = $('<div class="loader" id="loader-4"><span></span><span></span><span></span></div>')
    {{!-- const user = {{@user}}; --}}
    window.addEventListener('scroll', stickyHeader);

    var header = document.getElementById("pinning-header");
    var sticky = header.offsetTop;

    function stickyHeader() {
        //
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

    $('.ui.movieSearch.input').on('change' , function(){
        
        const search_words = $(this).find('input').val();
        //console.log(search_words);

        $.ajax({
            type: 'POST',
            url: '/home/search/movie/',
            contentType: 'application/json',
            data : JSON.stringify({keyword : search_words}),
            dataType : 'html',
            success: function(html) {
                
                $('body').html(html);
            },
            error: function(e) {
                
                console.log(e.message);
            }

        })

    })
    
</script>