<style>

    .app-container {
        background-image: none ;
    }
    .data-error-message{
        text-align: center;
        font-size: 2rem;
    }
    

</style>

<div class="browse-view">
    <h4>> {{header}}</h4>
    <div class="browse-view-container">
        {{#if data.length}}
            {{#each data}}
                <div class="browse-view-item">
                    <a href = "/home/movie/{{this.id}}"> <img class="browser-card-img" src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" alt="" onerror="this.src='/img/no-image.png'"></a>
                    {{!-- <div class="card-info">
                        <div class="card-name">{{original_title}}</div>
                        <div class="card-released-date">{{release_date}}</div>
                        <div class="card-overview">{{overview}}</div>
                    </div> --}}
                </div>
            {{/each}}
            {{else}}
                <div class="data-error-message">No Data!</div>
        {{/if}}
        

    </div>
</div>


<script>

    let search = '';
    let genre = '' ;
    {{#if search}}
        search = "{{search}}";
    {{/if}}

    {{#if genre}}
        genre = "{{genre}}";
    {{/if}}
    
    $('.app-container').css('background-image', 'none');
    window.lastHeight = 0;
    let pageNumber = {{page}};
    //console.log(pageNumber);

    let getMovies = (url, page) => {
        return new Promise((resolve, reject) => {
            $.ajax({
                    method : 'GET',
                    url : url + "&page="+ pageNumber,
                    success:function(data) {
                        
                        //console.log(data);
                    }
                })
        })
            
    }

    let loadMoreData = () => {
        if ($(window).scrollTop() == ($(document).height() - $(window).height())) {
            pageNumber += 1;
            if($('.browse-view-container').hasClass('loading-data')){
                //make an ajax call and ask for more data
                let url = '' ,  extraParams = '';
                const key = '?api_key=dc2c0d121d43c7efe3c541ff85273040';
                if(search){
                        url =  'https://api.themoviedb.org/3/search/movie';
                        extraParams = `&language=en-US&sort_by=popularity.desc&query=${search}`;
                }
                else if(genre){
                        url = 'https://api.themoviedb.org/3/discover/movie';
                    extraParams = `&language=en-US&sort_by=popularity.desc&with_genres=${genre}`;
                }
                else{
                    url = 'https://api.themoviedb.org/3/discover/movie';
                    extraParams = "&language=en-US&sort_by=popularity.desc";
                }
                    

                $.ajax({
                    type: 'GET',
                    url: url + key + extraParams + "&page=" + pageNumber,
                    async: false,
                    contentType: 'application/json',
                    dataType: 'jsonp',
                    success: function(json) {
                        
                        // console.dir(json);
                        $('.browse-view-container').find('.loader').remove();
                        const results = json.results;
                        const base = $('.browse-view-container');
                        setTimeout(function(){
                            for(let each of results){
                                let html = `<div class="browse-view-item">
                                        <a href="/home/movie/${each.id}" ><img class="browser-card-img" src="https://image.tmdb.org/t/p/w500/${each.poster_path}" alt="" onerror="this.src='/img/no-image.png'"> </a>
                                            <div class="card-info">
                                            <div class="card-name">${each.original_title}</div>
                                            <div class="card-released-date">${each.release_date}</div>
                                            <div class="card-overview">${each.overview}</div>
                                        </div>
                                    </div>`;

                                $('.browse-view-container').append(html);
                                $('.browse-view-container').append(window.loadingDots);
                            }
                        }, 500)

                        
                    },
                    error: function(e) {
                        console.log(e.message);
                    }
                });
            }
            else{

                $('.browse-view-container').append(window.loadingDots);
                $('.browse-view-container').addClass('loading-data');

                let maxHeight = $('.browse-view').height();
                let loadingDivHeight = $('#loader-4').height() + 10;
                $('.content-section').css({
                    'height' : maxHeight + loadingDivHeight + "px"
                })
                
            }
        }
    }


    window.addEventListener('scroll', loadMoreData);

   
</script>