<style>
    .content-section{
        background-color: #141414;
    }

    .movie-info{
        width: 100%;
        height: 75%;
    }

    .movie-info-container {
        width: 90%;
        height: 100%;
        padding: 2%;
        margin: 0 auto;
        background-color: #191919;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        background-size: cover!important;
        background-position: 50%!important;
    }

    .movie-info-poster {
        width: 400px;
        height: 100%;
        cursor: pointer;
    }

    .movie-info-poster img {
        width: 100%;
        height: 100%;
    }
    .movie-info .poster-wrapper{
       padding: 10px 0px 0px 50px;
        color: #c6c6c6;
        background: rgba(0,0,0,.8);
        height: 100%;
    }

    .header.poster{
        font-weight: 500;
        margin-bottom: 30px;
        color: #d1d1d1;
        font-size: 1.7rem;
    }

    .header.poster a {
        text-decoration: none;
        color: inherit;
    }

    .header-info{
        color: #c6c6c6;
    }
    .movie-overview{
        font-size: 0.9rem;
        font-weight: 300;
        width: 70%;
    }

    .movie-info .subtext{
        font-size: 0.8rem;
        display: flex;
        align-items: flex-start;
        color: inherit;
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }

    .movie-info .subtext .release_date{
        padding-right: 30px;
        border-right: 1px solid #ccc;
    }
    .movie-info .subtext .duration{
        padding: 0px 30px;
        text-align: center;
        border-right: 1px solid #ccc;
    }

    .movie-info .subtext .genre{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding: 0px 30px;
        border-right: 1px solid #ccc;
    }
    .movie-info .subtext .genre a{
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0px 5px;
    }
    .movie-info .subtext .trailer{
        padding: 0px 30px;
        cursor: pointer
    }
    .subtext .trailer span{
        padding: 0px 5px;
    }

    .movie-content-wrapper .similar-movies{
        width: 100%;
        height: 250px;
        margin: 4% 0px;
        padding: 5px 3%;
    }

    .movie-content-wrapper .movie-credits{
        width: 100%;
        height: 60%;
        margin: 4% 0px;
        padding: 0px 3%;
    }
    .slider-container img {
        width: 100%;
        height: 100%;
    }

    .slider-container{
        width: 95%;
        margin: 0 auto;
    }

    .slick-initialized .slick-slide{
        margin: 0px 5px;
        cursor: pointer;
    }

    {{!-- .slick-slide.hover{
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        z-index: 2;
    } --}}
    
    .slick-prev:before, .slick-next:before{
        color: #515151;
    }

    .movie-content-wrapper{
        width: 100%;
        color: #c6c6c6;
    }

    .credit-card-item {
        width: 8%;
        height: 130px;
        margin: 0px 2% 5% 0px;
    }
    .credit-card-item img{
        width: 100%;
        height: 100%;
    }

    .credit-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        place-content: stretch flex-start;
        align-items: stretch;
    }
    
</style>

<div class="movie-info">
    {{#if data.length}}
        {{#each data}}
            <div class="movie-info-container" style="background:url('https://image.tmdb.org/t/p/w500/{{this.backdrop_path}}')">
                <div class="movie-info-poster">
                    <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}">
                </div>
                <div class="movie-info poster-wrapper"> 
                    <div class="header poster">
                         <a href="https://www.imdb.com/title/{{this.imdb_id}}"><div class="movie-name">{{this.title}}</div></a>
                    </div>
                    <div class="subtext">
                        <div class="release_date">{{this.release_date}}</div>
                        <div class="duration">{{this.duration}}</div>
                        <div class="genre">
                            {{#if genres.length}}
                                {{#each genres}}
                                    <a href="{{this.genre_link}}"><span class="genre-item">{{this.name}}</span></a>
                                {{/each}}
                            {{/if}}
                        </div>
                        <div class="trailer" onclick="playTrailer({{this.movie_id}})">
                            <span><i class="fas fa-play"></i></span>Play trailer
                        </div>
                    </div>
                    <div class="header-info">
                        <div style="margin-bottom: 8px;font-size: 1.2rem;">Overview</div>
                        <div class="movie-overview">{{this.overview}}</div>
                    </div>
                </div>
             </div>
        {{/each}}
    {{/if}}
</div>

<div class="movie-content-wrapper">
    {{#if this.credits.length}}
        <div class="movie-credits">
            <h4>Credits</h4>
            <div class="credit-content">
                {{#each this.credits}}
                    <div class="credit-card-item">
                        <img class="credit-card-item" src="https://image.tmdb.org/t/p/w500/{{this.profile_path}}" alt="/img/no-image.png">
                        <div class="credit-info">
                            <h6>{{this.name}}</h6>
                            <p></p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if this.similar.length}}
         <div class="similar-movies">
            <h4>Similar Movies</h4>
            <div class="content">
                <div class="slider-container">
                   
                        {{#each this.similar}}
                            <div><a href="/home/movie/{{this.id}}"><img class="browser-card-img" src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}"></a></div>
                        {{/each}}
                    
                </div>
            </div>
        </div>
    {{/if}}
</div>

<script>
   const playTrailer = (movie_id) => {
       debugger
   }

    $('.slider-container').slick({infinite: true,
        slidesToShow: 6,
        slidesToScroll: 6,
        arrows: true,
            accessibility: false
    })
</script>