<style>
    .content-section{
        background-color: #141414;
    }

    .movie-info{
        width: 100%;
        height: 60%;
    }

    .movie-info-container {
        width: 100%;
        height: 100%;
        padding: 2%;
        margin: 0 auto;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        background-size: cover!important;
        background-position: 50%!important;
        position: relative;
    }

    .movie-info-poster {
        width: 150px;
        height: 200px;
        cursor: pointer;
        position: absolute;
        bottom: -90px;
        left: 20px;
        display: none;
        /* display: none; */
    }

    .movie-info-poster img {
        width: 100%;
        height: 100%;
    }

    
    .movie-info .poster-wrapper{
        padding: 10px;
        color: #c6c6c6;
        background: rgba(0,0,0,.8);
        height: 100%;
    }

    .header.poster{
        font-weight: 500;
        margin-bottom: 30px;
        color: #d1d1d1;
        font-size: 1.7rem;
    }

    .header.poster a {
        text-decoration: none;
        color: inherit;
    }

    .header-info{
        color: #c6c6c6;
    }

    .movie-overview {
        font-size: 1rem;
        font-weight: 300;
        width: 100%;
    }

    .movie-info .subtext{
        font-size: 1rem;
        color: inherit;
        flex-wrap: wrap;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .movie-info .subtext-item{
        {{!-- margin: 0px 10px 20px 0px; --}}
        width: 50%;
        flex-basis: 50%;
        margin-bottom: 10px;
    }

    .movie-info .subtext .genre{
        {{!-- padding: 0px 30px; --}}
        {{!-- border-right: 1px solid #ccc; --}}
    }
    .movie-info .subtext .genre a{
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0px 10px 0px 0px;
        {{!-- padding: 0px 5px; --}}
    }
    .movie-info .subtext .trailer{
        padding-top: 15px;
        {{!-- padding: 0px 30px; --}}
        cursor: pointer
    }
    .subtext .trailer span{
        padding: 0px 5px;
    }

    .movie-content-wrapper .similar-movies{
        width: 100%;
        height: 250px;
        margin: 4% 0px;
        padding: 5px 3%;
    }

    .movie-content-wrapper .movie-credits{
        width: 100%;
        margin: 4% 0px;
        padding: 0px 3%;
    }
    .slider-container img {
        width: 100%;
        height: 100%;
    }

    .slider-container{
        width: 95%;
        margin: 0 auto;
    }

    .slick-initialized .slick-slide{
        margin: 0px 5px;
        cursor: pointer;
    }

    
    .slick-prev:before, .slick-next:before{
        color: #515151;
    }

    .movie-content-wrapper{
        width: 100%;
        color: #c6c6c6;
        margin-top: 20px;
    }

    .credit-card-item {
        width: 120px;
        height: 130px;
        margin: 0px 2% 12% 0px;
    }

    .credit-card-item img{
        width: 100%;
        height: 100%;
    }

    .credit-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        place-content: stretch flex-start;
        align-items: stretch;
    }

    .trailer .youtube-link {
        color: inherit;
        text-decoration: none;
    }
    
    .similar-movies .browser-card-img:hover {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    @media (min-width : 45rem){
        .credit-card-item{
            width: 120px;
            height: 130px;
            margin: 0px 2% 3% 1%;
        }

        .movie-info{
            width: 100%;
            height: 75%;
        }

        .movie-info-container {
            width: 80%;
        }

        .movie-info-poster {
            width: 400px;
            height: 100%;
            cursor: pointer;
            position: static;
            display: block;
        }
        .movie-info .poster-wrapper{
            padding: 10px 0px 0px 50px;
            color: #c6c6c6;
            background: rgba(0,0,0,.8);
            height: 100%;
        }

         .movie-content-wrapper{
            width: 100%;
            color: #c6c6c6;
        }

        .movie-overview{
            font-size: 1rem;
            font-weight: 300;
            width: 90%;
            word-spacing: 2px;
        }

        .movie-info .subtext{
            font-size: 0.9rem;
            color: inherit;
            flex-wrap: wrap;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            justify-content: left;
        }

        .movie-info .subtext .release_date{
            padding-right: 30px;
            {{!-- border-right: 1px solid #ccc; --}}
        }
        .movie-info .subtext .duration{
            padding: 0px 30px;
            text-align: center;
            {{!-- border-right: 1px solid #ccc; --}}
        }

        .movie-info .subtext .genre{
            padding: 0px 30px;
            {{!-- border-right: 1px solid #ccc; --}}
        }
        .movie-info .subtext .genre .title-value{
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
        }
        .movie-info .subtext .genre a{
            text-decoration: none;
            color: inherit;
            text-align: center;
        }
        .movie-info .subtext .trailer{
            padding: 10px 30px;
            cursor: pointer
        }

        .movie-info .subtext-item{
            width: auto;
            flex-basis: auto;
        }
    }

    .subtext .subtext-item .title{
        opacity: 0.7
    }

    .subtext .title-value{
        text-align: left;
    }

    .movie-info .movie-info-wrapper{
        background-size: 100%,cover!important;
        background-position: 50%,50%!important;
    }
    
    
</style>

<div class="movie-info">
    {{#if data.length}}
        {{#each data}}
        <div class="movie-info-wrapper" style="background:linear-gradient(rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.65) 100%),url('https://image.tmdb.org/t/p/w500/{{this.backdrop_path}}'), rgb(28, 28, 28)">
             <div class="movie-info-container">
                <div class="movie-info-poster">
                    <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" alt="" onerror="this.src='/img/no-image.png'">
                </div>
                <div class="movie-info poster-wrapper"> 
                    <div class="header poster">
                         <a href="https://www.imdb.com/title/{{this.imdb_id}}"><h3 class="movie-name">{{this.title}}</h3></a>
                    </div>
                    <div class="subtext">
                        <div class="release_date subtext-item">
                            <div class="title">Release Date</div>
                            <div class="title-value">{{this.release_date}}</div>
                        </div>
                        <div class="duration subtext-item">
                            <div class="title">Duration</div>
                            <div class="title-value">{{this.duration}}</div>
                        </div>
                        <div class="genre subtext-item">
                            <div class="title">Genre</div>
                            <div class="title-value">
                                {{#if genres.length}}
                                    {{#each genres}}
                                        <a href="/home/genre/{{this.name}}/{{this.id}}"><span class="genre-item">{{this.name}}</span></a>
                                    {{/each}}
                                {{/if}}
                            </div>
                        </div>
                       
                        <div class="trailer subtext-item">
                            <a href="#" class="youtube-link" youtubeid="{{trailer}}">
                                <span><i class="fas fa-play"></i></span>Play trailer
                            </a>
                        </div>
                       
                    </div>
                    <div class="header-info">
                        <h4>Overview<h4>
                        <div class="movie-overview">{{this.overview}}</div>
                    </div>
                </div>
             </div>
        </div>
        {{/each}}
    {{/if}}
</div>

<div class="movie-content-wrapper">
    {{#if this.credits.length}}
        <div class="movie-credits">
            <h4>Cast</h4>
            <div class="credit-content">
                {{#each this.credits}}
                    <div class="credit-card-item">
                        <img class="credit-card-item" src="https://image.tmdb.org/t/p/w500/{{this.profile_path}}" alt="" onerror="this.src='/img/no-image.png'">
                        <div class="credit-info">
                            <h6>{{this.name}}</h6>
                            <p></p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if this.similar.length}}
         <div class="similar-movies">
            <h4>Similar Movies</h4>
            <div class="content">
                <div class="slider-container">
                   
                        {{#each this.similar}}
                            <div><a href="/home/movie/{{this.id}}"><img class="browser-card-img" src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" alt="" onerror="this.src='/img/no-image.png'"></a></div>
                        {{/each}}
                    
                </div>
            </div>
        </div>
    {{/if}}
</div>

<script>

   $(".youtube-link").grtyoutube({
       autoPlay : true
   })

    $('.slider-container').slick({infinite: true,
        slidesToShow: 6,
        slidesToScroll: 6,
        arrows: true,
        accessibility: false,
        responsive: [
            {
            breakpoint: 1024,
            settings: "unslick"
            },
            {
            breakpoint: 600,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
            },
            {
            breakpoint: 480,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]

    })
</script>