<style>
    .app-container{
        background-image: none;
    }
    .content-section{
        background-color: #141414;
    }
</style>

<div class="browse-view">
    <h4>> {{header}}</h4>
    <div class="browse-view-container">
        {{#if data.length}}
            {{#each data}}
                <div class="browse-view-item">
                    <a href = "/home/movie/{{this.id}}"> <img class="browser-card-img" src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}"></a>
                    <div class="card-info">
                        <div class="card-name">{{original_title}}</div>
                        <div class="card-released-date">{{release_date}}</div>
                        <div class="card-overview">{{overview}}</div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>